* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(21, 54, 34);
    background-color: rgb(106, 155, 139);
    border-bottom: 2px solid rgb(21, 54, 34);
    text-align: center; 
    padding: 2rem;
    margin-top: 0;
    width: 100%;
}

.questions-list {
    list-style: none;
    padding: 0;
}

.question-card {
    border: 2px solid rgb(21, 54, 34);
    border-radius: 6px;
    width: 85%;
    margin: 2rem auto;
    text-align: center;
    position: relative;
    padding: 1rem;
}

.bookmark-icon {
    font-size: 2.5rem;
    position: absolute;
    top: -20%;
    right: 0;
}

.question {
    padding-bottom: 0.7rem;
}

.show-answer {
    background-color: rgb(155, 106, 155);
    padding: 0.5rem;

}
.tag-list {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
}

.answer {
    visibility: hidden;
}

.question-tag {
    background-color: rgb(130, 165, 153);
    border: none;
    border-radius: 6px;
    padding: 2px;
    font-size: 0.8rem;

}

.nav-menu {
    list-style: "";
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    background-color: rgb(106, 155, 139);
    border-top: 2px solid rgb(21, 54, 34);
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;

}